#app, #code {
  float: left;
  margin: 0 2em 2em 0;
}

#app .container {
  position: relative;
  border: 2px solid #ccc;
  width: 600px;
  height: 500px;
}

#app-content {
  position: relative;
  z-index: 10;
  background: transparent;
  font-family: Arial, sans-serif;
}

#app canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#editor textarea, #compiled textarea {
  margin: 0 0 1em;
  border: 2px solid #ccc;
  display: block;
}

#compiled textarea {
  display: block;
  background-color: #eee;
  margin-top: 1em;
}

#code textarea, .console {
  font-family: monospace;
  font-size: 1.1em;
}

.console {
  background-color: #eee;
  border: 2px solid #ccc;
  margin-top: 1em;
  width: 500px;
  color: #555;
}

.console > p {
  margin: 0.5em;
}

footer {
  font-size: 0.9em;
  clear: both;
}
